<main class="principal">
  <h2 class="principal__titulo">Dados do cadastro</h2>
  <form class="principal__formulario" id="formulario" #f="ngForm" (ngSubmit)="cadastrar(f)">



    <h3 class="principal__subtitulo">Dados pessoais do cliente</h3>
    <div class="formulario__campo">
      <label class="campo__etiqueta" for="nome">Nome Completo</label>
      <input name="nome" id="nome"    class="campo__escrita" ngModel required minlength="2"/>
      <div *ngIf="(f.controls['nome']?.invalid && f.controls['nome']?.touched) || f.controls['nome']?.dirty">
      <span class="erro__texto" *ngIf="f.controls['nome']?.errors?.
      ['required']">O campo de nome deve ser preenchido.</span>
      <span class="erro__texto" *ngIf="f.controls['nome']?.errors?.
      ['minlength']">O nome deve ter no mínimo 2 caracteres.</span>
      </div>



    </div>
    <div class="formulario__dupla">
      <div class="formulario__campo">
        <label class="campo__etiqueta" for="telefone">Telefone</label>
        <input name="telefone" id="telefone" type="tel" placeholder="(XX) XXXXX-XXXX" class="campo__escrita" ngModel required pattern="(\(?\d{2}\)?\s?)(\d{5}\-?\d{4})"/>

        <div *ngIf="(f.controls['telefone']?.invalid && f.controls['telefone']?.touched) || f.controls['telefone']?.dirty">
          <span class="erro__texto" *ngIf="f.controls['telefone']?.errors?.
          ['required']">O campo de telefone deve ser preenchido.</span>
          <span class="erro__texto" *ngIf="f.controls['telefone']?.errors?.
          ['minlength']">O campo de telefone está faltando algo.</span>
        </div>
      </div>
    </div>
    <div class="formulario__campo">
      <label class="campo__etiqueta" for="email">E-mail</label>
      <input name="email" id="email" type="email" class="campo__escrita" ngModel required pattern="^[\w-.]+@([\w-]+\.)+[\w-]{2,4}$"/>

      <div *ngIf="(f.controls['email']?.invalid && f.controls['email']?.touched) || f.controls['email']?.dirty">
        <span class="erro__texto" *ngIf="f.controls['email']?.errors?.
        ['required']">O campo de email deve ser preenchido.</span>
       <span class="erro__texto" *ngIf="f.controls['email']?.errors?.
        ['pattern']">O campo de email deve seguir este padrão: "exemplo@dominio.com"</span>
         <!-- <span class="erro__texto" *ngIf="f.controls['email']?.errors?.
        ['email']">O campo de email deve seguir este padrão: "exemplo@dominio.com"</span> -->
      </div>
        
    </div>

    
    <button type="submit" class="formulario__botao">Enviar formulário</button>
    </form>
</main>
